/*body{
			width: 1000px;
		}*/

		.header{
			/*display: box;
			width: 990px;*/
			padding: 1px;
			text-align: center;
			/*background-color: pink;*/
		}
		
		.sidebar{
			float:left;
			width: 100px;
			height: 400px;
			padding: 10px;
			margin: 10px;
			/*background-color: pink;*/
		}

		.left-column{
			float:left;
			width: 400px;
			padding: 10px;
			margin-top: 10px;
			background-color: lightblue;
		}

		img {
			width: 300px;
			margin: 15px 50px 20px 50px;
		}

		.right-column{
			float:right;
			width: 400px;
			padding: 10px;
			margin-top: 10px;
			background-color: lightgreen;
		}